<nb-card accent="info">
  <nb-card-body>
<div>
    <h2 id="page-heading">
        <span>Soutenances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-soutenance" [routerLink]="['/pages/soutenances/soutenance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Ajouter un Soutenance
            </span>
        </button>
    </h2>
  <jhi-alert><div *ngIf="loading" class="text-center">
    <h3 class="text-center">Chargement...</h3>
    <img src="assets/images/loader.gif">
  </div></jhi-alert>
  <br/>
    <div class="table-responsive" *ngIf="soutenances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let soutenance of soutenances ;trackBy: trackId">
                <td><a [routerLink]="['/pages/soutenances/soutenance', soutenance.id, 'view' ]">{{soutenance.id}}</a></td>
                <td>{{soutenance.date | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pages/soutenances/soutenance', soutenance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pages/soutenances/soutenance', soutenance.id, 'edit']"
                                class="btn btn-primary btn-sm" style="border-radius: 0 !important;">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pages/soutenances/', { outlets: { popup: 'soutenance/'+ soutenance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="soutenances && soutenances.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
  </nb-card-body>
</nb-card>
