<nb-card accent="info">
  <nb-card-body>
<div>
  <div class="row page-header">
    <div class="col-lg-12">
      <h2>Professeurs:</h2>
      <hr>
      <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-professeur" [routerLink]="['/pages/professeurs/professeur/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span >
            Ajouter un Professeur
            </span>
      </button>
    </div>
  </div>
    <jhi-alert-error></jhi-alert-error><jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="loading" class="text-center">
      <h3 class="text-center">Chargement...</h3>
      <img src="assets/images/loader.gif">
    </div>
    <div class="table-responsive" *ngIf="professeurs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="somme"><span>Somme</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="user.firstName"><span>Prénom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="user.lastName"><span>Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="user.username"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="user.telephone"><span>Télephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="departement.nom"><span>Departement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th jhiSortBy="user.enabled"><span>Etat du compte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professeur of professeurs ;trackBy: trackId">
                <td><a [routerLink]="['/pages/professeurs/professeur', professeur.id, 'view' ]">{{professeur.id}}</a></td>
                <td>{{professeur.somme}}</td>
              <td>{{professeur.user.firstName}}</td>
              <td>{{professeur.user.lastName}}</td>
              <td>{{professeur.user.username}}</td>
              <td>{{professeur.user.telephone}}</td>

              <td>
                    <div *ngIf="professeur.departement">
                        <a [routerLink]="['/pages/departements/departement', professeur.departement?.id, 'view' ]" >{{professeur.departement?.nom}}</a>
                    </div>
                </td>
              <td>
                <a *ngIf="professeur.image" (click)="openFile(professeur.imageContentType, professeur.image)">
                  <img [src]="'data:' + professeur.imageContentType + ';base64,' + professeur.image" style="max-height: 30px;" alt="profile image"/>
                </a>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="setActive(professeur, true)" *ngIf="!professeur.user.enabled"
                >Deactivé</button>
                <button class="btn btn-success btn-sm" (click)="setActive(professeur, false)" *ngIf="professeur.user.enabled"
                        [disabled]="currentAccount === professeur.user.username">Activé</button>
              </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pages/professeurs/professeur', professeur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pages/professeurs/professeur', professeur.id, 'edit']"
                                class="btn btn-primary btn-sm" style="border-radius: 0 !important;">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pages/professeurs/', { outlets: { popup: 'professeur/'+ professeur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm" [disabled]="currentAccount === professeur.user.username">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="professeurs && professeurs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
  </nb-card-body>
</nb-card>
