<nb-card accent="info">
  <nb-card-body>
<div>
  <div class="row page-header">
    <div class="col-lg-12">
      <h2>Filières:</h2>
      <hr>
      <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-filiere" [routerLink]="['/pages/filieres/filiere/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span >
            Ajouter un Filiere
            </span>
      </button>
    </div>
  </div>
    <jhi-alert-error></jhi-alert-error><jhi-alert></jhi-alert>
    <br/>
  <div *ngIf="loading" class="text-center">
    <h3 class="text-center">Chargement...</h3>
    <img src="assets/images/loader.gif">
  </div>
    <div class="table-responsive" *ngIf="filieres">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span>Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let filiere of filieres ;trackBy: trackId">
                <td><a [routerLink]="['/pages/filieres/filiere', filiere.id, 'view' ]">{{filiere.id}}</a></td>
                <td>{{filiere.nom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pages/filieres/filiere', filiere.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pages/filieres/filiere', filiere.id, 'edit']"
                                class="btn btn-primary btn-sm" style="border-radius: 0 !important;">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pages/filieres/', { outlets: { popup: 'filiere/'+ filiere.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="filieres && filieres.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
  </nb-card-body>
</nb-card>
