<nb-card accent="info">
  <nb-card-body>
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-enseignement-heading">Ajouter ou modifier un Enseignement</h2>
          <hr/>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!enseignement.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="enseignement.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_semestre">Semestre</label>
                    <select class="form-control" id="field_semestre" name="semestre" [(ngModel)]="enseignement.semestre"  required>
                        <option *ngIf="!editForm.value.semestre" [ngValue]="null" selected></option>
                        <option [ngValue]="semestreOption.id === enseignement.semestre?.id ? enseignement.semestre : semestreOption" *ngFor="let semestreOption of semestres; trackBy: trackSemestreById">{{semestreOption.nom}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.semestre?.dirty && editForm.controls.semestre?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.semestre?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_module">Module</label>
                    <select class="form-control" id="field_module" name="module" [(ngModel)]="enseignement.module"  required>
                        <option *ngIf="!editForm.value.module" [ngValue]="null" selected></option>
                        <option [ngValue]="moduleOption.id === enseignement.module?.id ? enseignement.module : moduleOption" *ngFor="let moduleOption of modules; trackBy: trackModuleById">{{moduleOption.nom}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.module?.dirty && editForm.controls.module?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.module?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_professeur">Professeur</label>
                    <select class="form-control" id="field_professeur" name="professeur" [(ngModel)]="enseignement.professeur"  required>
                        <option *ngIf="!editForm.value.professeur" [ngValue]="null" selected></option>
                        <option [ngValue]="professeurOption.id === enseignement.professeur?.id ? enseignement.professeur : professeurOption" *ngFor="let professeurOption of professeurs; trackBy: trackProfesseurById">{{professeurOption.user.firstName}} {{professeurOption.user.lastName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.professeur?.dirty && editForm.controls.professeur?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.professeur?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
  </nb-card-body>
</nb-card>
